@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'Jost', sans-serif;
}

/* box shadow */
.box-shadow {
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

/* scrollbar hide */
.scroll-hide {
	-ms-overflow-style: none; /* Internet Explorer 10+ */
	scrollbar-width: none; /* Firefox */
}
.scroll-hide::-webkit-scrollbar {
	display: none; /* Safari and Chrome */
}

/* overriding style */
.MuiPaper-root {
	border-radius: 1.875rem !important;
}

/* button */
.btn-primary {
	background-image: linear-gradient(
		to right,
		#ff385c 0%,
		#dd2476 51%,
		#ff385c 100%
	);
}
.btn-primary {
	padding: 15px 45px;
	text-align: center;
	text-transform: uppercase;
	transition: 0.5s;
	background-size: 200% auto;
	color: white;
	box-shadow: 0 0 20px #eee;
	border-radius: 10px;
	display: block;
}

.btn-primary:hover {
	background-position: right center; /* change the direction of the change here */
	color: #fff;
	text-decoration: none;
}
